<div class="bg" fxFlex fxLayoutAlign="center center">

    <div id="section" fxLayout="column" fxLayoutAlign="space-evenly start">
        <h1>Library</h1>
        <p>Immerse yourself in the boundless worlds that books offer. Our library is a place where readers and authors
            meet, where imagination intertwines with reality, and where knowledge becomes accessible to all.

            Our collection encompasses a wide range of genres, from classic literature to contemporary bestsellers, from
            science fiction to biographies. Whether you're a passionate reader or just embarking on your journey through
            books, you'll find something here to satisfy your curiosity and expand your perspective.</p>

        <a routerLink="/signup"><button>JOIN NOW</button></a>
    </div>

</div>